.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-1 .u-image-1 {
  margin-top: 22px;
  margin-bottom: 0;
  height: 320px;
}

.u-section-1 .u-video-1 {
  height: 339px;
  width: 616px;
  margin: -329px auto 0 -35px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 76px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 350px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    margin-top: 39px;
    height: 264px;
  }

  .u-section-1 .u-video-1 {
    height: 258px;
    margin-top: -261px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 0 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 71px;
    height: 202px;
  }

  .u-section-1 .u-video-1 {
    height: 198px;
    margin-top: -198px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 11px 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -7px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-1 .u-image-1 {
    height: 303px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -299px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 238px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    height: 191px;
  }

  .u-section-1 .u-video-1 {
    height: 187px;
    margin-top: -187px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
    margin-bottom: -22px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 100vh;
}

.u-section-2 .u-image-1 {
  width: 662px;
  left: 0;
  right: auto;
}

.u-section-2 .u-icon-1 {
  width: 198px;
  height: 198px;
  background-image: none;
  margin: 33px auto 0 calc(((100% - 1140px) / 2) + 451px);
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -32px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 478px;
  min-height: 133px;
  margin: -156px calc(((100% - 1140px) / 2) + -20px) 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 333px 0 25px;
  padding: 0 27px 1px 26px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -67px 10px 0 auto;
  padding: 0 27px 1px 26px;
}

.u-section-2 .u-icon-4 {
  width: 293px;
  height: 157px;
  background-image: none;
  margin: 87px auto 0 calc(((100% - 1140px) / 2) + 403px);
}

.u-section-2 .u-group-2 {
  width: 478px;
  min-height: 133px;
  margin: -145px calc(((100% - 1140px) / 2) + -20px) 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 333px 0 25px;
  padding: 0 27px 1px 26px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -67px 10px -68px auto;
  padding: 0 27px 1px 26px;
}

.u-section-2 .u-icon-7 {
  width: 266px;
  height: 154px;
  background-image: none;
  margin: 68px auto 0 calc(((100% - 1140px) / 2) + 417px);
}

.u-section-2 .u-group-3 {
  width: 478px;
  min-height: 133px;
  margin: -144px calc(((100% - 1140px) / 2) + -20px) 58px auto;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 333px 0 25px;
  padding: 0 27px 1px 26px;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -67px 10px -68px auto;
  padding: 0 27px 1px 26px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    margin-top: 32px;
    margin-left: calc(((100% - 940px) / 2) + 245px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -33px;
    margin-left: calc(((100% - 940px) / 2) + 300px);
  }

  .u-section-2 .u-group-1 {
    margin-top: -154px;
    margin-right: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-2 .u-icon-4 {
    margin-top: 86px;
    margin-left: calc(((100% - 940px) / 2) + 198px);
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-2 .u-icon-7 {
    margin-top: 67px;
    margin-left: calc(((100% - 940px) / 2) + 216px);
  }

  .u-section-2 .u-group-3 {
    margin-top: -143px;
    margin-right: calc(((100% - 940px) / 2) + -20px);
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 804px;
  }

  .u-section-2 .u-image-1 {
    width: 280px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 54px;
    margin-left: calc(((100% - 720px) / 2) + 93px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -35px;
    margin-left: calc(((100% - 720px) / 2) + 143px);
  }

  .u-section-2 .u-group-1 {
    margin-top: -152px;
    margin-right: calc(((100% - 720px) / 2) + -24px);
  }

  .u-section-2 .u-icon-4 {
    margin-top: 74px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-2 .u-icon-7 {
    margin-top: 82px;
    margin-left: calc(((100% - 720px) / 2) + 27px);
  }

  .u-section-2 .u-group-3 {
    margin-top: -144px;
    margin-right: calc(((100% - 720px) / 2) + -29px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1039px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -30px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 252px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-icon-7 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1065px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 139px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 220px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 50px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 220px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }
}